<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <img className="logo" src='./class-logo.svg' alt="logo" class="d-inline-block align-top" alt="">
        <ul>
            <li><a href="/">Welcome</a></li>
            {{#if student}}
            <li><a href="/profile">{{student.first_name}}'s Profile</a></li>
            <li><a href="/tracker">Class Tracker</a></li>
            <li><a href="/report">Report Health Status</a></li>
            <li><a href="/appt">Request Appointment</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            {{/if}}
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="card">
            <div class="card-header">
                Edit Appointment
            </div>
            <div class="card-body">
                <form id="rateform" action="/rate/{{appointment.appointment_id}}" method="POST">
                    <div class="form-group col-md-6">
                        <label for="appointment_id">Appointment ID #</label>
                        <input type="text" class="form-control" id="appointment_id" name="appointment_id" readonly
                            placeholder="Appointment ID" value={{appointment.appointment_id}}>
                    </div>


                    <div class="form-group col-md-6">
                        <label for="numeric">Rating (Worst "1" -- Best "5")</label>
                        <select name="numeric_rating" id="numeric" class="form-control" required>
                            <option selected>Choose...</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                        </select>
                    </div>

                    <div class="form-group col-md-6">
                        <label for=" details">Comment</label>
                        <textarea class="form-control" id="details" name="comment" rows="4" cols="50" form="rateform"
                            required placeholder="Optional"></textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
        {{#if message }}
        <h4 class="alert alert-danger mt-4">{{message}}</h4>
        {{/if}}

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
</body>

</html>