<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>

<body>
    <nav>
        <img className="logo" src='./class-logo.svg' alt="logo" class="d-inline-block align-top" alt="">
        <ul>
            <li><a href="/">Welcome</a></li>
            {{#if student}}
            <li><a href="/profile">{{student.first_name}}'s Profile</a></li>
            <li><a href="/tracker">Class Tracker</a></li>
            <li><a href="/report">Report Health Status</a></li>
            <li><a href="/appointment">Request Appointment</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            {{else}}
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li>
            {{/if}}
        </ul>
    </nav>

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">UVA CS 4750 COVID Tracker</h1>
            <p class="lead">This data pertains to this class only.</p>
            <hr class="my-4">
            <p>Do your part and update your health status below!</p>
            <a class="btn btn-primary btn-lg" href="/report" role="button">Update Health Status</a>
        </div>
    </div>
    <div class="container mt-4">
        <input id="search-input" class="form-control" type="text">
        <h2>{{title}}</h2>
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Location</th>
                    <th scope="col">Status</th>
                    <th scope="col">Severity</th>
                    <th scope="col">Symptoms</th>
                </tr>
                {{#each cases}}
                <tr>
                    <td>{{this.date}}</td>
                    <td>{{this.location}}</td>
                    <td>{{this.status}}</td>
                    <td>{{this.severity}}</td>
                    <td>{{this.symptoms}}</td>
                </tr>
                {{/each}}
            </thead>
            <tbody id="myTable">

            </tbody>
        </table>

        <script>
            var myArray = cases;
            buildTable(myArray)

            function buildTable(cases) {
                var table = document.getElementById('myTable')

                table.innerHTML = ''
                for (var i = 0; i < cases.length; i++) {
                    var row = <tr>
                        <td>${cases[i].date}}</td>
                        <td>${cases[i].location}}</td>
                        <td>${cases[i].status}}</td>
                        <td>${cases[i].severity}}</td>
                        <td>${cases[i].symptoms}}</td>
                    </tr>
                    table.innerHTML += row
                }
            }

        </script>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>